* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-lightcondobl-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-lightcondobl-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-lightcondobl-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-lightcondobl-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	width: 100%;
	height: 1064px;
	background-image: url(../img/bg.png);
	background-size: cover;
	font-family: 'Helvetica Neue';
}

/*Navigation*/
.menu {
	background-color: #074a87;
	height: 36px;
}

nav {		
	display: inline-block;	
	float: right;
	padding-right: 35px;
	padding-top: 5px;
}

nav a {
	text-decoration: none;	
	color: #60b5ed;
	padding: 13px 17px;
	font-size: 14px;
}

.flag {
	position: relative;
	padding-left: 40px;
}

.img_flag {
	position: absolute;
	top: 10px;
	left: 2px;
	padding: 0 10px;
}

.Ajuda{
	border-right: 1px solid #60b5ed;
}

a span {
	color: #fff;	
}

 .underline{
 	text-decoration: underline;
 }
nav a:hover {
	background: rgb(103,198,230); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(103,198,230,1) 0%, rgba(46,122,196,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(103,198,230,1) 0%,rgba(46,122,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(103,198,230,1) 0%,rgba(46,122,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c6e6', endColorstr='#2e7ac4',GradientType=0 );
	color: #fff;
}

/*Form*/

.sect_form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 200px;

}

form {	
	width: 560px;
	height: 610px;
	background-color: rgba(33,39,35,0.5);
	text-align: center;
	color: #fff;
	
}

.cadastre {
		height: 42px;
		border-bottom: 2px solid #d8ddd7;
		font-size: 25px;
		padding-top: 20px;
}

.fb {
	margin: 20px auto;
}	

.ou {
	color: #999;
}

.ou img {
	margin-bottom: 5px;
}

form div {
	padding: 7px 0;
}

[type="text"], [type="email"], [type="password"] {
	width: 256px;
	height: 35px;
	background-color: #0f0f0f;	
	color: #fff;
	font-size: 12px;
	padding-left: 20px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid #484948;
}

[type="text"]:focus, [type="email"]:focus, [type="password"]:focus {
	background-color: #1b5288;
	-webkit-box-shadow: 1px 3px 26px -1px rgba(126,184,239,1);
	-moz-box-shadow: 1px 3px 26px -1px rgba(126,184,239,1);
}

.create {
	border: none;
	border-radius: 5px;
	height: 35px;
	width: 150px;
	color: #fff;
	font-size: 14px;
	background: rgb(103,198,230); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(103,198,230,1) 0%, rgba(46,122,196,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(103,198,230,1) 0%,rgba(46,122,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(103,198,230,1) 0%,rgba(46,122,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c6e6', endColorstr='#2e7ac4',GradientType=0 ); 
}

.create:active, button:focus{
	outline: none;
}